body{
    min-height: 500px;
    border: 8px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: space-evenly;
}

.box{
    height: 200px;
    width: 200px;
    background-color: #0071FF;
    font-size: 40pt;
}